.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #013914;
    color: white;
    position: sticky;
    .container{
        width: 1400px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
            .dot {
                color: #1dbf73;
            }
        } 
        .links{
            display: flex;
            gap: 24px;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            position: relative;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .option{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 5px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 200px;
                    color: gray;
                    font-weight: 300;
                }

            }

            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background: transparent;

                &:hover{
                    background-color: #1dbf73;
                    border-color: #1dbf73;
                }

            }
        }

    }

    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid rgb(172, 173, 172);
    }

    .menu{
        width: 1400px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
    }

}