.message{
    display: flex;
    justify-content: center;

    .container{
        width: 1200px;
        margin: 50px;


        .breadcrumbs{
            font-weight: 300;
            font-size: 13px;
            color: #555;

        }
        .messages{
            margin: 30px 0px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            height: 500px;
            overflow: scroll;

            .item{
                display: flex;
                gap: 20px;
                max-width: 600px;
                font-weight: 18px;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;
                    p{
                        border-radius: 20px 0px 20px 20px;
                        background-color: royalblue;
                        color: white;
                    }
                }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit:cover;
                };

                p{
                    padding: 20px;
                    background-color: lightgray;
                    border-radius: 0px 20px;
                    color: gray;
                    font-weight: 300;
                }
            }

        }

        hr{
            height: 0;
            border: 0.5 solid lightgray;
            margin-bottom: 30px;
        }

        .write{
            display: flex;
            align-items: center;
            justify-content: space-between;

            textarea{
                width: 80%;
                height: 100%;
                padding: 10px;
                border: 1px solid lightgray;
                border-radius: 10px;
            }

            button{
                background-color: #1dbf73;
                padding: 20px;
                color: white;
                font-weight: 500;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100px;
            }

        }
    }
}