.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;    
    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;
            h1{
                font-size: 50px;
            }
            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;

                .searchInput{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }
                    input{
                        border: none;
                        outline: none;
                    }

                }
                button{
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                }
            }
            .popular{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                span{

                }
                button{
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 20px;
                    padding: 5px 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
        .right{
            height: 100%;
            object-fit: contain;
        }
    }
}